.tui-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
  }
.tui-table tr th  {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border: 1px solid #ddd;
  }
.tui-table tr td {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border: 1px solid #ddd;
  }
  
  
  
  